<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<!-- 메인 -->
	<!-- <servlet>
		<servlet-name>main</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>main</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping> -->
	
	<!-- Drip 관련 Servlet -->
	<servlet>
		<servlet-name>getDrip</servlet-name>
		<jsp-file>/drip/ReadDrip.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>getDrip</servlet-name>
		<url-pattern>/drip/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>putDrip</servlet-name>
		<jsp-file>/drip/WriteDrip.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>putDrip</servlet-name>
		<url-pattern>/drip/put</url-pattern>
	</servlet-mapping>
	
	
	<!-- User 관련 Servlet -->
	<servlet>
		<servlet-name>registerUser</servlet-name>
		<jsp-file>/user/RegisterUser.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>registerUser</servlet-name>
		<url-pattern>/user/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginUser</servlet-name>
		<jsp-file>/user/LoginUser.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>loginUser</servlet-name>
		<url-pattern>/user/login</url-pattern>
	</servlet-mapping>
	
	<!-- 설정 -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.gif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>

</web-app>  